li{
	list-style: none;
}

.blocMain{
	width: auto;
	margin: 50px;
	padding: 10px;
	border: 2px double black;
	border-radius: 10px;
	box-shadow: 9px 9px 9px black ;
	min-width: 40%
}

.alignement{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.header{
	margin: 5px;
	padding: 5px;
	border: 2px double black;
	border-radius: 10px;
}
.bloc1{
	float: right;
	border: 2px dashed gray;
	padding: 10px;
	margin: 10px;
}

.footerNews{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.lien{
	color: black;
}

.newsContent{
	width: 80%
}

.image{
	margin-left: 10px;
	text-align: left;
	display: flex; 
}

.sticky{
	position: sticky;
	display: flex;
	justify-content: center;
	align-items: down;
	bottom: 0px;
}

.wrapper{
	min-height: 100%;
	display: grid;
	grid-template-rows: auto 1fr auto;
}

.all{
	margin: 0;
	height: 100%
}

.displayer{
	display: flex;
}